@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Square+Peg&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Caveat', cursive;
  /* background-image: url('./assets/4ce21cc680a4222cc189f1dc83cee091.jpg'); */
  background-image: url('./assets/3c2e5561e62f917903e2ca1987a82932.jpg');
  /* background-image: url('./assets/b75374ab3a59c52b8553436bc4df053e.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

h1{
  font-size: 36px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: rgb(9, 49, 19);
}

p {
  font-size: 28px;
  font-weight: 700;
  color: rgb(7, 45, 46);
}

span {
  font-size: 28px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.span {
  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-top: 50px;
  /* color: rgb(7, 45, 46); */
}